<div class="col-md-6">
<div class="media">
  <div class="media-body">
    <h4 class="media-heading"><%= @idea.category.name %></h4><br>
    <h4><%= @idea.content %></h4>
  </div>
</div>
</div>


<div class="col-md-6">
<div class="c-wrapper">
<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @images.each_with_index do |image, index| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="active"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @images.each_with_index do |image, index| %>
      <% if index == 0 %>
        <div class="item active">
      <% else %>
        <div class="item">
      <% end %>
        <img src=<%= image.url %> >
        <div class="carousel-caption">
          <%= image.description %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
</div>
</div>