<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Logged in as #{current_user.name}", edit_user_path(current_user) %></li> 
          <li><%= link_to "Logout", logout_path, method: 'delete' %></li>   
        <% else %>
          <li><%= link_to "Login Page", login_path %></li>
        <% end %>    
      </ul>
       <ul class="nav navbar-nav navbar-left">
        <% if current_user %>
          <li><%= link_to "My Ideas", user_ideas_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Create an Account", new_user_path %></li>
        <% end %>    
      </ul>
  </div>
</nav>